<h2>目標カロリー・マクロ栄養素</h2>
<table>
  <thead>
    <tr>
      <th>Total calorie</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= userfeature.total_calorie %></td>
      <td><%= userfeature.protein %></td>
      <td><%= userfeature.fat %></td>
      <td><%= userfeature.carbo %></td>
   </tr>
  </tbody>
</table>
